body{
    background-color: black;
}
header{
    background: linear-gradient(70deg, rgb(24, 0, 0), rgb(175, 0, 0));
	height: 50px;
	padding-top: 40px; 
	padding-bottom: 25px;
	width: 100%;
	position: sticky;
	top: 0px;
	z-index: 10;
	width: 100%;
}
.menu{
	display: flex;
    gap: 30px;
    list-style: none;
    height: 20px;
    justify-content: center;
    padding-right: 3em;
    font-size: 13px;
}
h1, h3{
    color: #ffffff;
    padding-left: 52px;
    font-family: "Montserrat", Sans-serif;
    font-weight: lighter;
}
.menu2{
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: center;
    padding-right: 3em;
    height: 20px;
}
a{
	text-decoration: none;
	background-size: 0% 3px;
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
}
a:hover{
    color: rgb(143, 143, 143);
}
footer{
    text-align: center;
    color: #ffffff;
}
.LDA{
    width: 890px;
    padding-left: 15%;
}
.img{
    display: flex;
    justify-content: left;
    width: 300px;
	height: 40px;
    padding-left: 45px;
}
label{
    color: white;
    padding-left: 55px;
}
iframe{
    padding: 55px;
}
.h3-sobrenosotros{
    inline-size: 1100px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "header header header header"
        "body body body body"
        "footer footer footer footer";
}
.header{
    grid-area: header;
}
.body{
    grid-area: body;
}
.footer{
    grid-area: footer;
}

/* TABLET */

@media screen and (max-width: 768px){
    .grid-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
         "header header header"
         "body body body"
         "footer footer footer";
    }
    h1, h3{
        text-align: center;
        padding: 0%;
    }
   .header{
        grid-area: header;
        background-color: rgb(121, 3, 3);
    }
    .body{
        grid-area: body;
    }
    .tituloh1{
        text-align: center;
    }
    .footer{
        grid-area: footer;
    }
    .LDA{
        width: 500px;
    }
    .h3-sobrenosotros{
        inline-size: 740px;
    }
    .img{
        padding-left: 70px;
    }
}

/* CELULAR */

@media screen and (max-width: 468px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "body"
            "footer";
    }
    .header{
        grid-area: header;
        background-color: rgb(54, 0, 0);
    }
    .img{
        justify-content: left;
        width: 242px;
        height: 34px;
        padding-left: 15px;
    }
    .menu{
        height: 157px;
    }
    .header nav ul{
        flex-direction: column;
        gap: 15px;
    }
    .body{
        grid-area: body;
        box-sizing: content-box;
    }
    .tituloh1{
        text-align: left;
        padding-left: 52%;
    }
    .footer{
        grid-area: footer;
    }
    .LDA{
        width: 200px;
    }
    .tituloh1{
        padding-left: 20px;
        font-size: 20px;
    }
    .h3-sobrenosotros{
        inline-size: 250px;
        font-size: 15px;
        padding-left: 10px;
        margin: 0px;
    }
    .iframe{
        display: none;
    }
    .h3-noticias{
        inline-size: 200px;
        font-size: 15px;
        padding-left: 20px;
    }
    .form{
        inline-size: 100px;
    }
    .label{
        padding-left: 12px;
    }
}