body {
  background-color: black;
display: flex;
flex-direction: column; 
min-height: 100vh;}
.container-fluid{
  padding: 0px;
}
.row{
  --bs-gutter-x: none;
}
.form-control{
  width: 85%;
}
.bg-light {
  place-content: space-between;

  background: linear-gradient(70deg, #520101, #970101); }
  .mx-auto{
    max-width: none;
  }

  .navbar-expand-lg .navbar-collapse {
    flex-basis: auto;
    justify-content: right;
    flex-grow: 0
}

.navbar-light .navbar-nav .nav-link {
  padding-right: 25px;
  gap: 20px;
  color: white; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: white; }

.navbar-light .navbar-brand {
  color: white;
  padding-left: 30px; }
  .navbar-toggler {
    font-size: 1.25rem;
    margin-right: 10px;
    background-color: #890101;
    border: 1px solid #8d0101;
    transition: box-shadow .15s ease-in-out;
}

h1, h3 {
  color: #ffffff;
  padding-left: 52px;
  font-family: "Montserrat", Sans-serif;
  font-weight: lighter;
  padding-top: 5px;
  font-size: 30px;
  text-align: center; }

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  justify-content: right;
  padding-right: 3em;
  height: 20px;
  font-size: 20px; }

.menu2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  justify-content: center;
  height: 20px; }

a {
  text-decoration: none;
  background-size: 0% 3px;
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 13px; }

footer {
  background-color: #1b1b1b;
  padding-top: 20px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 90px; 
  margin-top: auto;
  
}
.redes{
  justify-content: center;
  align-items: center;
}

.indexfooter{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  margin-top: auto;
  height: 90px;
}
.imagen {
  display: flex;
  justify-content: center;
  height: 300px; }

.img {
  display: flex;
  justify-content: left;
  width: 300px;
  height: 40px;
  padding-left: 45px; }

label {
  color: white;
  padding-left: 55px; }

.iframe {
  align-self: center;
  padding: 30px;}
.h3-iframe{
  padding-bottom: 10px;
}
.h3-sobrenosotros {
  font-size: 20px;
  text-align: center; 
  inline-size: 615px;
  padding: 0px;
}
a:hover {
  color: #8f8f8f; }

  .body{
margin: 20px;
  }

.container-products{
    background-color: #0f0f0f;
    margin:45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.card{
  margin: 10px;
  background-color: #1b1b1b;
  color: #ffffff;
  justify-content: center;  border: solid #272727;
}
.card-title, .card-text{
text-align: center;}
.btn-primary {
  color: #fff;
  background-color: #790303;
  border-color: #790303;
  display: block;}
.btn-primary:hover{
  background-color: #e70000;
  border-color: #8b0202;
}

.index-body{
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0678542) 10%, rgba(0, 0, 0, 0.723316) 80%), url(../multimedia/campeon.jpg);
  height: 550px;
  background-size: cover;
}
.tituloInicio{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    font-size: 80px;
    display: flex;
    justify-content: left;
    width: 100px;
    line-height: 0.9;
    margin-left: 8px;
    margin-top: 60px;
}
.h5-Inicio{
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: left;
  padding-left: 120px;}

  .hero-button{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: normal;
    padding: 8px 16px;
    border: none;
    background-color: #520101;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    cursor: pointer;
    width: 239px;
    margin-left: 70px;
  }

.bottom_body{
  background-color: black;
}

.tituloh3{
  color: white;
  background-color: rgb(22, 22, 22);
  padding: 10px;
  width: 100%;
  height: 58px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  text-shadow: 0 0 30px rgb(255 255 255 / 80%);}

label{
  padding-left: 0px;
  padding-top: 10px;
}

.brand{
  height: 35px;
}

.slide{
 margin-top: 10px;
 margin-bottom: 10px;
 width: 50%;
 border: solid rgb(87, 87, 87);
}
.slide img {
 height: 55vh;
}
div.body{
  text-align: -webkit-center;
}
  .column {
    width: 400px;
    padding: 5px;
      }
      .row{
        justify-content: center;
      }
      .sobrenos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
      }
      .screen_lda{
        height: 500px;
      }
/*
      @media (min-width: 576px)
  {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header"
 "body body body"
 "footer footer footer"; }
  h1, h3 {
    text-align: center;
    padding: 0%; }
    .h3-sobrenosotros {
      inline-size: 50%;
      font-size: 17px;
      padding-left: 10px;
      margin: 0px; }
  
  .header {
    grid-area: header;
    background-color: #790303; }
  .body {
    grid-area: body; }
  .tituloh1 {
    text-align: center; }
  .footer {
    grid-area: footer; }
  .LDA {
    width: 500px; }
  .img {
    padding-left: 70px; } }

@media (max-width: 468px) {
.grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "header"
 "body"
 "footer"; }
  .header {
    grid-area: header;
    background-color: #360000; }
  .img {
    justify-content: left;
    width: 242px;
    height: 34px;
    padding-left: 15px; }
  
  .menu {
    height: 157px; }
  .header nav ul {
    flex-direction: column;
    gap: 15px; }
  .body {
    grid-area: body;
    box-sizing: content-box; }
  .tituloh1 {
    text-align: left;
    padding-left: 52%; }
  .footer {
    grid-area: footer; }
  .LDA1 {
    width: 200px; }
  .tituloh1 {
    padding-left: 20px;
    font-size: 20px; }
  .h3-sobrenosotros {
    inline-size: 50%;
    font-size: 15px;
    padding-left: 10px;
    margin: 0px; }
  .iframe {
    display: none; }
  .h3-noticias {
    inline-size: 200px;
    font-size: 15px;
    padding-left: 20px; }
  .form {
    inline-size: 100px; }
  .label {
    padding-left: 12px; } } */